<h1>Game Stats</h1>
<div id="highest-score">
  <h3>Highest Total Score</h3>
  <p><em>Highest sum of the winning and losing teams’ scores</em></p>
  <%= @highest_score %>
</div>

<div id="lowest-score">
  <h3>Lowest Total Score</h3>
  <p><em>Lowest sum of the winning and losing teams’ scores</em></p>
  <%= @lowest_score %>
</div>
